flask
flask-smorest
python-dotenv
flask-sqlalchemy
pymysql
#flask-mysql
#mysql-connector
flask-jwt-extended
passlib
flask-migrate
gunicorn
django
requests
#mysqlclient
qrcode[pil]
cryptography
marshmallow-sqlalchemy
flask-compress